<html>

<head>
    <title>Metal Genre Map</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="manifestinteractive-jqvmap-780b2c1/dist/jqvmap.css" media="screen" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>

    <script type="text/javascript" src="manifestinteractive-jqvmap-780b2c1/dist/jquery.vmap.js"></script>
    <script type="text/javascript" src="manifestinteractive-jqvmap-780b2c1/dist/maps/jquery.vmap.world.js" charset="utf-8"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.16/r-2.2.1/datatables.min.css" />
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.16/r-2.2.1/datatables.min.js"></script>

    <style>
        body {
            font-family: 'Alegreya JM', "Times New Roman", Times, serif;
        }

        #vmap {
            height: 100%;
            position: absolute;
            margin-left: 250px;
        }

        ol {
            padding-left: 20px;
        }

        *,
        ::after,
        ::before {
            box-sizing: unset !important;
        }

        .nav {
            font-size: 14;
            width: 250px;
            height: 100%;
            position: absolute;
            overflow-y: auto;
            display: inline;
        }

        @media (max-width: 900px) {
            .nav {
                width: 20%;
            }

            #vmap {
                margin-left: 20%;
            }

            .switch {
                padding: 5px;
            }

            h1 {
                font-size: 20pt;
            }
        }

        #titles {
            position: absolute;
            z-index: 10;
            margin-left: 230px;
            bottom: 20px;
        }

        .jqvmap-label {
            min-width: 150px;
            background-color: white;
            color: black;
            text-align: center;
        }

        .jqvmap-label p {
            margin: 0px;
            text-align: center;
        }

        .jqvmap-label p:last-of-type {
            margin-bottom: 10px;
        }

        .jqvmap-label ol {
            text-align: left
        }

        #ladder {
            background: linear-gradient(to left, black, white);
            width: 200px;
            height: 10px;
            position: fixed;
            right: 10%;
            bottom: 20px;
            border: 1px solid black;
        }

        #ladder div {
            width: 200px;
            position: fixed;
            margin-top: -21px;
        }

        #title {
            position: fixed;
            bottom: 5px;
            width: 100%;
            text-align: center;
            z-index: 10;
        }

        .switch {
            width: 35%;
            margin-left: 2px;
            margin-right: 2px;
        }

        .modal-lg {
            max-width: 100% !important;
        }

        #bands_wrapper .col-md-6 {
            padding: 0px !important;
        }

        #bands_wrapper {
            width: 98%;
        }

        .loader {
            border: 8px solid #f3f3f3;
            border-top: 8px solid #3498db;
            border-radius: 70%;
            width: 15px;
            height: 15px;
            margin: auto;
            margin-left: 10px;
            animation: spin 2s linear infinite;
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }

        .badge {
            display: inline-block;
            padding: .25em .4em;
            font-size: 75%;
            font-weight: 700;
            line-height: 1;
            color: #fff;
            text-align: center;
            white-space: nowrap;
            vertical-align: baseline;
            border-radius: .25rem;
        }

        .badge-default {
            background-color: #636c72;
        }

        .bg-default {
            background-color: #636c72;
        }

        .tooltip-inner {
            max-width: 350px;
            /* If max-width does not work, try using width instead */
            width: 350px; 
        }
    </style>

    <script type="text/javascript">
        var bandsByCountry = <%-JSON.stringify(bandsByCountry) %>;
        var numberBandsByGenre = <%-JSON.stringify(numberBandsByGenre) %>;
        var colorsByGenre = <%-JSON.stringify(colorsByGenre) %>;
        var genres = <%-JSON.stringify(genres) %>;
        var maxByGenre = <%-JSON.stringify(maxByGenre) %>;
        console.log(bandsByCountry, numberBandsByGenre, colorsByGenre);
        const topGenre = 3;

        var genre = 'all';
        var mode = "Relative";

        var bandPer = {};
        bandPer['Relative'] = "bands per 1 million people";
        bandPer['Absolute'] = "bands";
        $(document).ready(function () {
            $('#vmap').vectorMap({
                map: 'world_en',
                enableZoom: true,
                showTooltip: true,
                color: '#FFFFFF',
                colors: colorsByGenre[mode][genre],
                onLabelShow: function (event, label, code) {
                    label.append("<hr />");
                    if (numberBandsByGenre[mode][genre] && numberBandsByGenre[mode][genre][code]) {
                        label.append("<p><b>" + numberBandsByGenre[mode][genre][code] + "</b></p><p>" + bandPer[mode] + "</p>");
                        if (genre != 'all')
                            label.append("<p>" + genre + "</p>");
                    }
                    else {
                        if (genre == 'all')
                            label.append("<p>No band</p>");
                        else
                            label.append("<p>No band of " + genre + "</p>");
                    }
                    var ol = "<hr /><ol>";
                    for (var i = 0; i < topGenre; i++) {
                        if (bandsByCountry[code] && bandsByCountry[code].top[i]) {
                            ol += "<li>" + bandsByCountry[code].top[i].genre + "</li>";
                        }
                    }
                    ol += "</ol>";
                    label.append(ol);
                },
                onRegionClick: function (event, code, region) {
                    $("#loader").addClass('loader');
                    $('#bands').dataTable().fnClearTable();
                    $("#detailsModalLabel").html(region + " - " + (genre == 'all' ? 'All genres' : genre));
                    $('#detailsModal').modal('show');
                    $.ajax({
                        type: 'POST',
                        url: '/get-bands-by-country-genre',
                        data: { genre: genre, country: code },
                        dataType: 'json',
                        success: function (data) {
                            $('#bands').dataTable().fnAddData(data);

                            $("#loader").removeClass('loader');

                            $('#bands').tooltip({
                                selector: "a[rel=tooltip]"
                            })
                        },
                    });

                    event.preventDefault();
                }
            });

            for (g in genres) {
                $(".nav").append('<li class="nav-item"><a class="nav-link" href="#">' + genres[g] + '</a></li>');
            }

            $(".nav-link").mouseenter(linkMouseenter);

            $(".nav-link").click(function (e) {
                $(".nav-link").click(linkMouseenter);
                $(".nav-link").off('mouseenter');
            });

            $(".flex-column").mouseleave(function () {
                $(".nav-link").mouseenter(linkMouseenter);
            });

            $("#ladder-max").html(maxByGenre[mode][genre]);

            // Switch
            $(".switch").click(function (e) {
                $(".switch").removeClass('active');
                $(this).addClass('active');

                mode = $(this).html();

                if (mode == "Absolute") {
                    $("#title h4").html("Number of Metal band active");
                } else {
                    $("#title h4").html("Number of Metal band active per 1 million people");
                }

                updateMap();
            });

            $('#bands').DataTable({
                "order": [[4, "desc"]],
                "bProcessing": true,
                "pageLength": 15,
            });
        });

        function linkMouseenter() {
            $(".nav-link").removeClass('active');
            $(this).addClass('active');
            genre = $(this).html();
            if (!(genre in colorsByGenre[mode]))
                genre = 'all';

            updateMap();
        }

        function updateMap() {
            $('#vmap').vectorMap('set', 'colors', colorsByGenre[mode][genre]);
            $("#ladder-max").html(maxByGenre[mode][genre]);
        }
    </script>
</head>

<body>
    <ul class="nav flex-column nav-pills">
        <li>
            <h1>Metal Genres</h1>
            <h6>Data by
                <a href="https://www.metal-archives.com/" target="_blank">metal-archives</a>
            </h6>
        </li>
        <div style="width: 100%; text-align: center;">
            <button class="btn btn-primary switch active">Relative</button>
            <button class="btn btn-primary switch">Absolute</button>
        </div>
        <hr />
        <li class="nav-item">
            <a class="nav-link active" href="#">All genres</a>
        </li>
    </ul>
    <div id="vmap"></div>
    <div id="title">
        <h4>Number of Metal band active per 1 million people</h4>
    </div>
    <div id="ladder">
        <div>0</div>
        <div id="ladder-max" style="text-align: right;">100</div>
    </div>

    <div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" data-focus="false" aria-labelledby="detailsModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="detailsModalLabel">Country</h3>
                    <div id="loader" class="loader"></div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h6>Bands sort by popularity (number of reviews)</h6>
                    <hr />
                    <table id="bands" class="display" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Genres</th>
                                <th>Location</th>
                                <th>Status</th>
                                <th>Number Review</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>